:root {
  --primary-default: #072ac8;
  --primary-hover: #a2d6f9;
  --primary-tapped: #d1edff;
  --accent: #43d2ff;

  --neutral-dark: #292e47;
  --neutral-medium: #6b708d;
  --neutral-light: #f2f4fc;
  --neutral-lightblue: #ecf7ff;

  --secondary: #ffc600;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--neutral-dark);
  padding: 0 10%;
  margin: 0;
  background-color: var(--neutral-light);
}

h1 {
  font-size: 60px;
  line-height: 70px;
}

h2 {
  font-size: 50px;
  line-height: 58px;
}

h3 {
  font-size: 40px;
  line-height: 46px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
}

.body-medium {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.body-regular {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--neutral-medium);
}

.headline-medium {
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: var(--neutral-medium);
}

.headline-regular {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
}

.caption1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.caption2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

header {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-info {
  display: none;
}

.nav-burger {
  border: none;
  background-color: transparent;
}

nav ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

nav li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--neutral-dark);
}

nav a,
nav a:visited {
  color: var(--neutral-medium);
}

button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

/* HERO SECTION */

#hero {
  display: flex;
  flex-direction: column;
}

#hero-img {
  margin: 20px auto;
  position: relative;
}

#hero-img .main-img {
  width: 100%;
}

#hero-img .card1 {
  position: absolute;
  width: 65%;
  left: -15%;
}

#hero-img .card2 {
  position: absolute;
  width: 65%;
  left: 50%;
  top: 60%;
}

.blue-filled-btn {
  color: white;
  background-color: var(--primary-default);
  padding: 15px 0;
  width: 150px;
  border: none;

  transition: 100ms ease-in-out;
}

#hero .btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.grey-a {
  color: var(--neutral-medium);
}

/* COMPANIES */

#companies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  margin: 20px 0;
}

#companies img {
  filter: grayscale();
  margin: 5px;
}

/* RECENT PROJECTS */

#recent-projects {
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card img {
  width: 100%;
}

.card {
  width: 100%;
  background-color: white;
  box-shadow: 0 38px 77px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.card .body-medium,
.card p {
  margin: 5px 0;
}

.card-text {
  padding: 30px;
}

.card a {
  margin-top: 50px;
  color: var(--primary-default);
}

/* FEEDBACK  */

#feedback {
  background-color: var(--neutral-dark);
  margin: 0 -5%;
  padding: 120px 20px 160px 20px;
  height: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  background-image: url(./project-assets/testimonial-section/orbit.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#feedback h3 {
  color: var(--neutral-light);
}

#feedback .body-regular {
  color: var(--secondary);
  max-width: 600px;
}

.emojis {
  top: 0;
  height: 160%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* .emojis {
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50%;
} */

.emoji {
  width: 150px;
  height: 150px;
}

.user img {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.user-info {
  text-align: left;
}

.user .headline-regular {
  color: var(--primary-hover);
  margin: 0;
}

.user .caption2 {
  color: var(--neutral-light);
  margin: 0;
}

/* OUR SERVICES SECTION */

#services .cards {
  display: flex;
  gap: 20px;
  align-items: center;
}

#services .card .img-circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: var(--neutral-lightblue);
  display: flex;
  justify-content: center;
  align-items: center;
}

#services .card {
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#services .card img {
  width: 40px;
  height: 40px;
}
