:root {
  --primary-default: #072ac8;
  --primary-hover: #a2d6f9;
  --primary-tapped: #d1edff;
  --accent: #43d2ff;

  --neutral-dark: #292e47;
  --neutral-medium: #6b708d;
  --neutral-light: #f2f4fc;
  --neutral-lightblue: #ecf7ff;

  --secondary: #ffc600;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--neutral-dark);
  padding: 0;
  margin: 0;
  background-color: var(--neutral-light);
}

section {
  padding: 0 10%;
}

h1 {
  font-size: 30px;
  line-height: 130%;
  margin: 20px 0;
}

h2 {
  font-size: 30px;
  line-height: 58px;
}

h3 {
  font-size: 30px;
  line-height: 46px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
}

.body-medium {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.body-regular {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: var(--neutral-medium);
}

.headline-medium {
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: var(--neutral-medium);
}

.headline-regular {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
}

.caption1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.caption2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

header {
  position: relative;
}

.mobile-header {
  padding: 30px 10% 0 10%;
  background-color: var(--neutral-light);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 99;
}

.nav-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  position: absolute;
  transform: translateY(-200px);
  background-color: var(--neutral-light);
  width: 100%;
  padding-bottom: 10px;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);

  transition: transform 500ms;
}

.nav-burger {
  border: none;
  background-color: transparent;
}

nav ul {
  padding: 0;
}

nav li {
  margin: 10px 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--neutral-dark);
}

nav a,
nav a:visited {
  color: var(--neutral-medium);
}

button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

/* HERO SECTION */

#hero {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

#hero-img {
  margin: 20px auto;
  position: relative;
}

#hero-text {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#hero-img .main-img {
  width: 100%;
}

#hero-img .card1 {
  position: absolute;
  width: 65%;
  left: -15%;
}

#hero-img .card2 {
  position: absolute;
  width: 65%;
  left: 50%;
  top: 60%;
}

.blue-filled-btn {
  color: white;
  background-color: var(--primary-default);
  padding: 15px 0;
  width: 150px;
  border: none;

  transition: 100ms ease-in-out;
}

#hero .btns {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.grey-a {
  color: var(--neutral-medium);
}

/* COMPANIES */

#companies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  margin: 20px 0;
}

.amazon-logo {
  display: none;
}

.company-logo {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RECENT PROJECTS */

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.card {
  width: 100%;
  background-color: white;
  box-shadow: 0 38px 77px rgba(0, 0, 0, 0.1);
}

.card .body-medium,
.card p {
  margin: 15px 0;
}

.card-text {
  padding: 20px 20px 30px 20px;
}

.card a {
  color: var(--primary-default);
}

/* FEEDBACK  */

#feedback {
  background-color: var(--neutral-dark);
  margin: 50px 0;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  background-image: url(./project-assets/testimonial-section/orbit.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#feedback h3 {
  color: var(--neutral-light);
}

#feedback .body-regular {
  max-width: 560px;
  color: #ffc600;
  font-size: 24px;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
}

.emojis {
  top: 0;
  height: 160%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  display: none;
}

/* .emojis {
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50%;
} */

.emoji {
  width: 150px;
  height: 150px;
}

.user img {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.user-info {
  text-align: left;
}

.user .headline-regular {
  color: var(--primary-hover);
  margin: 0;
}

.user .caption2 {
  color: var(--neutral-light);
  margin: 0;
}

/* OUR SERVICES SECTION */
#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#services .cards {
  display: flex;
  gap: 20px;
  align-items: center;
}

#services .card .img-circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: var(--neutral-lightblue);
  display: flex;
  justify-content: center;
  align-items: center;
}

#services .card {
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}

#services .card img {
  width: 40px;
  height: 40px;
}

/* CONTACT SECTION */

#contact {
  background-color: var(--secondary);
  margin: 50px 0;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#contact h3 {
  margin: 0;
}

#contact .body-regular {
  color: var(--neutral-dark);
}

#contact button {
  width: 100%;
  height: 80px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
}

.text-input {
  background-color: var(--neutral-lightblue);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
  padding: 25px;
  height: 80px;
}

input {
  border: none;
  background-color: transparent;
  padding: 0;
}

input::placeholder {
  color: var(--neutral-dark);
}

footer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer .container {
  max-width: 400px;
}

footer a,
footer p {
  color: var(--neutral-medium);
}

footer img {
  width: 100px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  margin: 0 auto;
}

.footer-links {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  max-width: 390px;
  width: 90%;
  margin: 10px auto;
}

.footer-links a {
  color: var(--primary-default);
  text-align: left;
}
